@media screen and (max-width:1400px) {
    .banner-text {
        font-size: 4em;
    }
    .banner-image {
        position: absolute;
        right: 0;
        top: 300px;
    }
}

@media screen and (max-width:1024px) {
    .text .button {
        position: absolute;
        margin-top: 200px;
        margin-left: 65px;
    }
}

@media screen and (max-width:992px) {
    .ticker marquee span {
        padding-left: 30px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5em;
        line-height: 27px;
        color: #000000;
    }
    .wrapper ul li {
        margin-left: 30px;
    }
    .wrapper ul li a {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 1.3em;
        line-height: 37px;
        /* identical to box height */
        color: #000000;
    }
    .banner-text {
        font-weight: 800;
        font-size: 4em;
        line-height: 70px;
        color: #000000;
    }
    .text .button {
        position: absolute;
        margin-top: 300px;
        margin-left: 65px;
    }
    .arrow-down {
        position: absolute;
        right: 15%;
        margin-top: 400px;
    }
}

@media screen and (max-width:700px) {
    .ticker marquee span {
        padding-left: 30px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 1.2em;
        line-height: 27px;
        color: #000000;
    }
    .wrapper {
        display: none;
    }
    .logo img {
        width: 80%;
    }
    .menu {
        display: block;
    }
    .banner-text {
        font-weight: 800;
        font-size: 3.2em;
        line-height: 50px;
        color: #000000;
        margin-top: 10px;
    }
    .text .button {
        position: absolute;
        margin-top: 400px;
        margin-left: 65px;
    }
    .arrow-down {
        position: absolute;
        right: 5%;
        margin-top: 300px;
    }
}

@media screen and (max-width:550px) {
    .text .button {
        position: absolute;
        margin-top: 350px;
        margin-left: 15%;
    }
}

@media screen and (max-width:420px) {
    .ticker marquee span {
        padding-left: 30px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 1.2em;
        line-height: 27px;
        color: #000000;
    }
    .wrapper {
        display: none;
    }
    .logo img {
        width: 80%;
    }
    .menu {
        display: block;
    }
    .banner-text {
        font-weight: 800;
        font-size: 35px;
        line-height: 45px;
        color: #000000;
    }
    .banner-image {
        position: absolute;
        right: 0;
        top: 380px;
    }
    .text .button {
        position: absolute;
        margin-top: 300px;
        margin-left: 20%;
    }
}