@font-face {
    font-family: "Poppins", sans-serif;
    src: url('../font/Poppins-Regular.ttf');
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url('../font/Poppins-Medium.ttf');
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url('../font/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url('../font/Poppins-Bold.ttf');
}

* {
    font-family: "Poppins", sans-serif;
}


/* COLORS  */

.bg-dark {
    background-color: #2D2A43;
}

.bg-red {
    background-color: #FD9979;
}

.bg-orange {
    background-color: #E6C22C;
}

.bg-blue {
    background-color: #8B80B6;
}