section {
    margin-top: 30px;
    margin-bottom: 50px;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1400px;
    padding-left: 6%;
    padding-right: 6%;
}

.bottom-line {
    width: 0px;
    height: 2px;
    background-color: black;
    transition: all 0.3s;
}

.wrapper ul li:hover .bottom-line {
    width: 80px;
    height: 2px;
    background-color: black;
}


/* MOBILE MENU ICON  */

.menu {
    display: none;
}

.active {
    position: absolute;
    top: 15%;
    right: 10%;
    transition: all 0.5s;
}


/* BUTTONS  */

.banner-button {
    position: absolute;
    left: 20%;
    margin-top: 150px;
}

.btn {
    padding: 15px 60px;
    background: #F4DC4C;
    border-radius: 15px;
    font-size: 1.1em;
}