
{% extends 'base.html' %}
{% block content %}
    <main class="container">
        <article class="post">
            <h2 class="post-title">Post Title</h2>
            <p class="post-description">This is the description of the post. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nullam nec magna eget velit vulputate euismod.</p>
            <div class="vote-buttons">
                <button class="upvote-button">Upvote</button>
                <span class="vote-count">0</span>
                <button class="downvote-button">Downvote</button>
            </div>
        </article>
    </main>
{% endblock %}
