*{
    box-sizing: border-box;
    list-style: none;
    font-family: Onest, sans-serif;
}
body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .logo {
    margin: 0;
    font-size: 24px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar ul li:last-child {
    margin-right: 0;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar ul li a:hover {
    color: #ffcc00;
  }
  
